<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="css/signin.css" rel="stylesheet" type="text/css">
    <head th:insert="fragments.html::header"></head>
</head>
<body>
<header th:insert="fragments.html::nav"></header>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">로그인</h2>

        <input id="preLoginUrl" name="preLoginUrl" type="hidden" value="">

        <p>
            <label class="sr-only" for="userEmail">UserEmail</label>
            <input autofocus class="form-control" id="userEmail" name="userEmail" placeholder="이메일" required
                   type="text">
        </p>
        <p>
            <label class="sr-only" for="userPassword">Password</label>
            <input class="form-control" id="userPassword" name="userPassword" placeholder="비밀번호" required
                   type="password">
        </p>
        <div>
            <span>로그인 유지하기</span>
            <input autocomplete="off" class="form-check-input mt-0" id="remember-me" name="remember-me" type="checkbox">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
    </form>
    <script>
        /*document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('preLoginUrl').value = localStorage.getItem('preLoginUrl') || '/';
        });*/
    </script>
</div>
</body>
</html>