<!doctype html>
<html lang="en">
<head th:insert="fragments.html::header">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>마이페이지</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">

    <style>
        .container {
            position: relative;
            height: 100vh;
        }

        #logo {
            position: absolute;
            width: 200px;
            height: 100px;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }


    </style>

</head>
<body>
<header th:replace="fragments :: nav"></header>

<div>
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <tr>
                            <th>
                                <div class="form-floating mb-3">
                                    <label for="blogRSS">RSS 주소</label>
                                    <input class="form-control" id="blogRSS"
                                           placeholder="rss 주소 ex) https://www.d2.naver.rss/atom"
                                           required type="text">
                                </div>
                            </th>

                            <th>
                                <div class="form-floating mb-3">
                                    <label for="blogWriterName">블로그 주인장 이름</label>
                                    <input class="form-control" id="blogWriterName"
                                           placeholder="블로그 주인장 이름 ex) 네이버" required type="text">
                                </div>
                            </th>

                            <td>
                                <button class="btn btn-block btn-primary" id="add-blog" type="button">등록
                                </button>
                            </td>
                        </tr>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</div>

<form action="http://localhost:8080/deleteAccount" method="post">
    <input type="hidden">
    <button class="btn btn-block btn-primary" id="leave" type="submit">회원 탈퇴</button>
</form>

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        $('#add-blog').on('click', function () {
            $.ajax({
                url: 'http://localhost:8080/api/v1/blogs/user',
                method: 'POST',
                data: JSON.stringify({
                    blogWriterName: $('#blogWriterName').val(),
                    blogRssUrl: $('#blogRSS').val(),
                }),
                contentType: 'application/json',

                success: function (response) {
                    console.log('API 요청 성공', response);
                    location.reload();
                },
                error: function (error) {
                    console.error('API 요청 실패', error);
                }
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const leave = document.getElementById("leave");

        leave.addEventListener("submit", function (event) {
            event.preventDefault();
            window.location.href = "/";
        });
    });

</script>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>