<!doctype html>
<html lang="en">
<head th:insert="fragments.html::header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>검색 결과 화면</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <style>
        .container {
            position: relative;
            height: 100vh;
        }

        #logo {
            position: absolute;
            width: 1000px;
            height: 50px;
            left: 10px;
            top: 40px;
        }

        #search-input {
            position: absolute;
            top: 100px; /* Adjust this value to move it closer to the center */
            left: 200px;
            width: 500px;
            height: 47px;
            transform: translate(-50%, -50%);
            background: #E0E8D3;
            border-radius: 10px;
            font-size: 17px;
        }

        #feed-list {
            margin-top: 5px;
            /*top: 550px;*/
        }

        #feed-box {
            margin-top: 10px;
            border-radius: 10px;
            border: 1px solid #000;
            background: rgba(217, 217, 217, 0.12);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    </style>
</head>
<body>
<header th:insert="fragments.html::nav"></header>

<div class="container mt-5">
    <form id="search-form" method="get">
        <img alt="mainLogo.png" class="img-fluid mb-4" id="logo" src="/assets/mainLogo.png">
        <div class="input-group mb-3">
            <input aria-describedby="search-button" aria-label="검색어 입력" class="form-control" id="search-input"
                   name="q" placeholder="검색어를 입력하세요" type="text">
        </div>
    </form>
    <div class="col-sm-2 offset-sm-10">
        <div class="form-group">
            <label for="sort-option">정렬 기준</label>
            <select class="form-control" id="sort-option">
                <option th:selected="${selectedSortOption == 'recent'}" value="recent">최신순</option>
                <option th:selected="${selectedSortOption == 'clicked'}" value="clicked">조회순</option>
            </select>
        </div>
    </div>
</div>

<div id="search-results">
    <h1>검색 결과</h1>
    <div class="container" id="feed-list-block">
        <form id="feed-list">
            <div th:each="feed : ${feedPage}">
                <script th:inline="javascript">
                    /* feed 객체 정보를 콘솔에 출력 */
                    console.log([[${feed.feedUrl}]]);
                </script>
                <div class="row justify-content-md-center"
                     onclick="redirectToFeedUrl('${feed.feedUrl}'); increaseDailyAccessCount('${feed.feedId}');">
                    <div class="col-md-auto">
                        <p id="feedId" style="display:none;" th:text="${feed.feedId}"></p>
                        <p id="feedUrl" style="display:none;" th:text="${feed.feedUrl}"></p>

                        <p id="feedTitle" th:text="'제목: ' + ${feed.feedTitle}"></p>
                        <p id="blogWriterName" th:text="'작성자: ' + ${feed.blogWriterName}"></p>
                        <p id="feedDescription" th:text="'내용: ' + ${feed.feedDescription}"></p>
                        <p id="feedCreatedAt" th:text="'생성일: ' + ${feed.feedCreatedAt}"></p>
                    </div>
                </div>
                <!--                </form>-->
            </div>
            <div class="container">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${feedPage.hasPrevious()}">
                        <a class="page-link"
                           th:href="@{/api/v1/feeds/search/{sort}(q=${query}, page=${feedPage.number - 1}, sort=${selectedSortOption})}">이전</a>
                    </li>
                    <li class="page-item" th:classappend="${pageNum == feedPage.number} ? 'active'"
                        th:each="pageNum : ${#numbers.sequence(startPage, endPage)}">
                        <a class="page-link"
                           th:href="@{/api/v1/feeds/search/{sort}(q=${query}, page=${pageNum}, sort=${selectedSortOption})}"
                           th:text="${pageNum + 1}"></a>
                    </li>
                    <li class="page-item" th:if="${feedPage.hasNext()}">
                        <a class="page-link"
                           th:href="@{/api/v1/feeds/search/{sort}(q=${query}, page=${feedPage.number + 1}, sort=${selectedSortOption})}">다음</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <!--    <br>-->
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

    $(document).ready(function () {
        $(".row.justify-content-md-center").on("click", function () {
            const feedUrl = $(this).find("#feedUrl").text();
            const feedId = $(this).find("#feedId").text();
            increaseDailyAccessCount(feedId);
            redirectToFeedUrl(feedUrl);
        });

        $('#sort-option').on("change", function (event) {
            event.preventDefault();

            const selectedOption = $(this).val();
            const queryParams = new URLSearchParams(window.location.search);
            const query = queryParams.get('q');
            console.log(query);
            let url = '/api/v1/feeds/search/recent?q=' + encodeURIComponent(query);

            if (selectedOption === 'clicked') {
                url = '/api/v1/feeds/search/clicked?q=' + encodeURIComponent(query);
            }

            window.location.href = url;
        });


        function redirectToFeedUrl(feedUrl) {
            window.location.href = feedUrl;
        }

        function increaseDailyAccessCount(feedId) {
            const xhr = new XMLHttpRequest();
            xhr.open(`POST`, `/api/v1/feeds/visit/` + feedId, true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // 성공적으로 요청이 처리되었을 때의 로직
                        console.log('Daily access count updated successfully.');
                    } else {
                        // 요청이 실패했을 때의 로직
                        console.error('Failed to update daily access count.');
                    }
                }
            };
            xhr.send();
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        const searchForm = document.getElementById("search-form");
        const searchInput = document.getElementById("search-input");
        const sortOptionSelect = document.getElementById("sort-option");

        console.log("addEventListener 동작 1")
        searchForm.addEventListener("submit", function (event) {
            event.preventDefault();

            const query = searchInput.value;
            const selectedSortOption = sortOptionSelect.value;

            if (query) {
                let url;
                if (selectedSortOption === 'clicked') {
                    url = "/api/v1/feeds/search/clicked?q=" + encodeURIComponent(query);
                } else {
                    url = "/api/v1/feeds/search/recent?q=" + encodeURIComponent(query);
                }

                window.location.href = url;
            }
        });
    });


</script>


<script crossorigin="anonymous"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>